/* 1224px */
@media (max-width: 76.5em) {
  h1 {
    font-size: 4rem;
  }
}

/* 880px */
@media (max-width: 55em) {
  h1 {
    font-size: 3.5rem;
  }

  .home-button {
    width: 8rem;
    height: 6rem;
    border-radius: 12px;
    font-size: 2rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-items: center;
  }
}

/* 592px */
@media (max-width: 37em) {
  h1 {
    font-size: 3rem;
  }

  .header-section {
    padding-bottom: 0rem;
  }

  .home-button {
    width: 8rem;
    height: 5rem;
    border-radius: 12px;
    font-size: 2rem;
  }
}

/* 464px */
@media (max-width: 29em) {
  h1 {
    font-size: 2.6rem;
  }

  .home-button {
    width: 7.5rem;
    height: 4.5rem;
    border-radius: 12px;
    font-size: 1.8rem;
  }

  .project-card {
    width: 30rem;
    height: 48rem;
  }

  .project-card-content {
    width: 26rem;
  }

  .card-button {
    height: 8rem;
  }
}

/* 416px */
@media (max-width: 26em) {
  h1 {
    font-size: 2.2rem;
  }

  .home-button {
    width: 7rem;
    height: 4.2rem;
    font-size: 1.7rem;
  }

  .projects-grid {
    gap: 2rem;
  }
}

/* 368px */
@media (max-width: 23em) {
  .project-card {
    width: 28rem;
    height: 48rem;
  }

  .project-card-content {
    width: 24rem;
  }

  .header-section {
    padding: 1rem;
  }
}

/* 352px */
@media (max-width: 22em) {
  .project-card {
    width: 25rem;
    height: 46rem;
  }

  .project-card-content {
    width: 21rem;
  }

  .header-section {
    padding-top: 2.8rem;
  }

  .home-button {
    width: 6.5rem;
    height: 4rem;
    font-size: 1.6rem;
  }

  .container {
    padding: 2.2rem 2.2rem;
  }
}
